<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Recuperación de cuenta</title>
    <style>
      .btn-link {
        display: inline-block;
        background-color: #0062e7;
        width: auto;
        height: 50px;
        border: none;
        color: #fff !important;
        text-align: center;
        line-height: 50px;
        border-radius: 9999px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
      }
      .btn-link:hover {
        background-color: #0051be;
      }
    </style>
  </head>
  <body>
    <h1 style="font-size: 15px">Hola <span th:text="${name}"></span>,</h1>
    <br />
    <p style="font-size: 15px" th:text="${message}"></p>
    <br />
    <div>
      <a class="btn-link" th:href="${resetUrl}" target="_blank"
        >Cambia tu contraseña</a
      >
    </div>
    <br />
    <br />
    <p style="font-size: 15px">Equipo The Company</p>
  </body>
</html>
